<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.jc.retrofit.wiki">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity
                android:name=".MainActivity"
                android:label="@string/title_activity_main"
                android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".sample.SampleRequestMainActivity"
                android:label="@string/title_activity_sample_request_main"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".sample.view.activity.SampleGetRequestActivity"
                android:label="SampleGetRequest"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".sample.view.activity.SampleRxJavaGetRequestActivity"
                android:label="SampleRxJavaGetRequest"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".sample.view.activity.LoggingInterceptorGetRequestActivity"
                android:label="RequestLoggingInterceptor"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".advanced.sample.view.activity.RxJavaObserveOnMainThreadActivity"
                android:label="RxJavaObserveOnMainThrea"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".advanced.sample.view.activity.MultipleResponseActivity"
                android:label="多数据格式适配"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".advanced.error.view.HandlerResponseErrorActivity"
                android:label="统一状态码/错误处理"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".advanced.sample.view.activity.DynamicBaseUrlActivity"
                android:label="动态BaseUrl"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".advanced.sample.view.activity.Authenticator1Activity"
                android:label="Authenticator token 重试实现方法1"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".advanced.sample.view.activity.Authenticator2Activity"
                android:label="Authenticator token 重试实现方法2"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".advanced.sample.view.activity.JsonQueryParametersActivity"
                android:label="Json Query Parameters"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".advanced.AdvancedMainActivity"
                android:label="Advanced"
                android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>